body {
    margin: 0;
    font-family: sans-serif;
    background: #0b0b0b;
    color: #eaeaea;
    line-height: 1.9;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 25px;
}

h1, h2, h3 {
    color: #ffffff;
}

a {
    color: #cfcfcf;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: #ffffff;
}

.poem-text {
    background: #121212;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #222;
}

hr {
    border: none;
    border-top: 1px solid #2a2a2a;
    margin: 20px 0;
}

/* کارت‌های poems.html */
.card {
    display: block;
    padding: 15px;
    background: #1a1a1a;
    border-radius: 10px;
    border: 1px solid #2a2a2a;
}

.card:hover {
    transform: translateY(-4px);
}